body {
    font-family: 'Open Sans';
    background: linear-gradient(135deg, #e5dfed, #eccbcb);
    color: #333;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    float: left; /* Float elements side-by-side */
    width: 48%; /* Account for spacing between columns (adjust if needed) */
    margin: 0 1% 20px 1%; /* Add some margin for spacing */
    box-sizing: border-box;
  }
  

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
    text-align: left;
}

.form-group input {
    width: 100%; /* Full width within form group */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #ffe1ea, hsl(355, 42%, 80%));
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 10px rgba(82, 69, 69, 0.1);
}
button:hover {
    color: white;
    background: linear-gradient(135deg, #eed8df, #ffd7e1);
    transform: scale(1.01);
  }

@media (max-width: 768px) {
    .form-group {
        flex: 1 1 100%; /* Stack columns on smaller screens */
    }
}
